.root {
  width: 793px;
  height: 680px;
  position: relative;
  margin-right: -159px;
}

.smallPokeBall {
  position: absolute;
  top: 12%;
  left: 6%;
}

.cloud {
  position: absolute;
  left: 2%;
  bottom: 23%;
}

.bigCloud {
  position: absolute;
  left: 50%;
  top: 10%;
}

.bigPokeBall {
  position: absolute;
  top: 5%;
  right: -20%;
}

.pikachu {
  position: absolute;
  top: 12%;
  left: 0;
}
